@import url("https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap");

/*font-family: "Yeon Sung", cursive;*/

body {
  font-family: "Yeon Sung", cursive;
  margin: 0;
  overflow: hidden;
  background-color: #f6b8c1;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  margin: 0px;

  /* border: solid red 1px; */
}

.Page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.IntroBtnImg {
  cursor: pointer;
  position: fixed;
  bottom: 250px;
  height: 240px;
  /* border: solid red 1px; */
}

.DayNightSwitch {
  position: fixed;
  top: 20px;
  right: 20px;
  height: 80px;
  cursor: pointer;
}

.DayNightBg {
  position: absolute;
  /* height: 105vh; */
  width: 100vw;
}

.Player {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
/*============Player=============*/

.component {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6b8c1;
  width: 180px;
  height: 60px;
  max-width: 600px;
  margin: 0px;
  border: 0.1px solid black;
  border-radius: 3rem;
}

.playButton,
.playButtonS {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  /* border: solid red 1px; */
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.playButtonS img {
  height: 35px;
}

.playButton img {
  height: 45px;
}

/* @media (max-width: 900px) {
  .component {
    width: 50%;
  }
} */
